
/* Utilities */
  .container {
    margin-left: 6.3rem;
    margin-right: 6.3rem;
    box-sizing: border-box;
    border:0%;
    overflow: auto;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .btn {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #F05C3A;
    border-radius: 0.3rem;
  }
  .btn:hover {
    background-color: #89C442; 
    transition: 0.5s;
    border-color: #89C442;
  }
  img {
      width: 100%;
  }